// Variables
$enable-rounded: false;
// Color overrides

// Set a custom color
$orange: #f4623a !default;
$brown: #5c4d42 !default;
$green: #7fb843 !default;
// Set primary color to green
$primary: $green !default;

// Font overrides

$font-family-sans-serif: "Montserrat", Arial, sans-serif !default;
$font-family-serif: "Roboto", Arial, sans-serif !default;
$font-family-base: $font-family-serif !default;
$headings-font-family: $font-family-sans-serif !default;

// Custom variables
$navbar-height: 72px;
